.QUEST,
.VENDOR,
.DUNGEON,
.DROP,
.HORDE,
.CRAFT,
.ALLIANCE {
  width: 32px;
  height: 32px;
}

.QUEST { background-image: url(./icons/quest.png) }
.VENDOR { background-image: url(./icons/vendor.png) }
.CRAFT { background-image: url(./icons/craft.png) }
.DUNGEON { background-image: url(./icons/dungeon.png) }
.DROP { background-image: url(./icons/drop.png ) }
.HORDE { background-image: url(./icons/horde.png) }
.ALLIANCE { background-image: url(./icons/alliance.png) }
.icon {
  background-image: image-set(
    url("./icons/sprite.avif") type("image/avif"),
    url("./icons/sprite.webp") type("image/webp"),
    url("./icons/sprite.jpg") type("image/jpeg")
  );
}
